*.jpg
*.png
*.tfrecord
*.pyc
/.idea
/tensorboard_test/old/
/tensorboard_train/old/
/testing
#/zapisane/old
/modele
/data/list_deleted.py
/TestowanieModelu.py
/TestowanieModeluBulk.py
/zapisane
/label_info
